* {
    margin: 0px;
    padding: 0px;
    color: #7B8EA3;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 16px;

    /*COLOUR SCHEME*/
    /* #295A8C */
    /* #0F1E38 */
    /* #F8FFFF */
    /* #7B8EA3 */
    /* #0B081F */
}

/* LINK TO ACCOUNT PAGE AND LOGOUT SESSION */
header {
    text-align: right;
    /*border: 1px dashed indianred;*/
    margin: 5px 100px 50px 0;
}

.account, .logout {
    font-weight: 400;
    text-decoration: none;
}

.account:hover {
    color: #295A8C;
}

.logout:hover {
    color: #0F1E38;
}

/* LOGO AND SKYLINE IMG */
#canvas {
    width: 100%
    height: 200px;
    display: flex;
    justify-content: center;
    /*border: 1px dashed indianred;*/
}

#canvas img {
    width: 80%;
    height: 80%;
    /*border: 1px dashed indianred;*/
}

/* INFORMATION SECTION */
.page {
    margin: 30px 150px 0 150px;
    /*border: 1px dashed indianred;*/
}

.img {
    width: 100%;
    /*border: 1px dashed indianred;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img img {
    width: 30%;
    height: 30%;
    /*margin: 15px;*/
}

.select {
    display: flex;
    flex-wrap: nowrap;
}

.look, .list {
    /*border: 1px dashed indianred;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px 15px 15px 15px;
    width: 50%;
}


.looking, .listing {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    text-align: center;
    color: #F8FFFF;
    font-size: 18px;
    font-weight: 400;
    background: #295A8C;
    border: 2px solid #295A8C;
    padding: 10px;
}

.listing {
    background: #0F1E38;
    border: 2px solid #0F1E38;
}

.looking:hover {
    color: #295A8C;
    background: #FFFFFF;
    border: 2px dashed #295A8C;
}

.listing:hover {
    color: #0F1E38;
    background: #FFFFFF;
    border: 2px dashed #0F1E38;
}

.looking:focus, .listing:focus {
    color: #FFFFFF;
    background: #7B8EA3;
    border: 2px solid #7B8EA3;
}
